# File Managed by Puppet 

user www-data;
worker_processes <%= @worker_processes %>;

error_log  /var/log/nginx/error.log;
pid        /var/run/nginx.pid;

worker_rlimit_nofile <%= @worker_rlimit_nofile %>;

events {
    worker_connections  1024;
    ## epoll is preferred on 2.6 Linux
    ## kernels. Cf. http://www.kegel.com/c10k.html#nb.epoll
    use epoll;
    ## Accept as many connections as possible.
    multi_accept on;
}

http {
    #microcache
    fastcgi_cache_path /etc/nginx/microcache levels=1:2 keys_zone=microcache:5m max_size=1000m;

    ## MIME types.
    include     /etc/nginx/mime.types;
    default_type  application/octet-stream;

    ## FastCGI. - Nej flyttad till wp.local
    # include     /etc/nginx/fastcgi.conf;

    ## Default log and error files.
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    ## Use sendfile() syscall to speed up I/O operations and speed up
    #  static file serving.
    #  VirtualBox förstör WP i Vagrant utan sendfile
    sendfile        <%= @sendfile %>;

    ## Handling of IPs in proxied and load balancing situations.
    set_real_ip_from        0.0.0.0/32; # all addresses get a real IP.
    real_ip_header     X-Forwarded-For; # the ip is forwarded from the load balancer/proxy

    ## Timeouts.
#    client_body_timeout             60;
#    client_header_timeout           60;
#    keepalive_timeout            10 10;
#    send_timeout                    60;

    ## Reset lingering timed out connections. Deflect DDoS.
    reset_timedout_connection on;

    ## Body size.
    client_max_body_size <%= @client_max_body_size %>;

    ## GET parameter Facebook requires 5k ...
    client_header_buffer_size <%= @client_header_buffer_size %>;

    ## If a large number of server names are defined, or unusually long server names are defined,
    ## tuning the server_names_hash_max_size and server_names_hash_bucket_size directives at the http level may become necessary.
    server_names_hash_bucket_size <%= @server_names_hash_bucket_size %>;
    server_names_hash_max_size <%= @server_names_hash_max_size %>;

     ## TCP options.
    tcp_nodelay on;

    ## Optimization of socket handling when using sendfile.
    tcp_nopush on;

    ## Compression.
    gzip              on;
    gzip_buffers      16 8k;
    gzip_comp_level   1;
    gzip_http_version 1.1;
    gzip_min_length   10;
    gzip_types        text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript image/x-icon application/vnd.ms-fontobject font/open$
    gzip_vary         on;
    gzip_proxied      any; # Compression for all requests.
    ## No need for regexps. See
    ## http://wiki.nginx.org/NginxHttpGzipModule#gzip_disable
    gzip_disable "msie6";

    ## Serve already compressed files directly, bypassing on-the-fly
    ## compression.
    gzip_static on;

    ## Hide the Nginx version number. - Inte i DEBUG local
    server_tokens off;

    ## Enable clickjacking protection in modern browsers. Available in
    ## IE8 also. See
    ## https://developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header
    add_header X-Frame-Options sameorigin;

    ## Include the upstream servers for PHP FastCGI handling config.
    include php5-fpm.conf;

    ## Include blacklist for bad bot and referer blocking.
    include /etc/nginx/blacklist.conf;

    ## Include all vhosts.
    include /etc/nginx/sites-enabled/*;
}

