## Managed by Puppet ##

## Backend ##
upstream <%= @proxy_name %>  {
      server <%= @upstream_server %>;
}

## Intranet redir to SSL
#server {
#    listen       80;
#    server_name  <%= @site_name %>;
#    return       301 https://<%= @site_name %>$request_uri;
#}
## END Intranet redir to SSL

## Start PROXY ##
server {
    listen       443;
    server_name  <%= @site_name %>;

    ssl on;

    ssl_certificate      <%= @ssl_certificate %>;
    ssl_certificate_key  <%= @ssl_key %>;

    ssl_session_timeout  5m;
    ssl_protocols  SSLv3 TLSv1;
    ssl_ciphers HIGH:!ADH:!MD5;
    ssl_prefer_server_ciphers on;

    access_log  /var/log/nginx/proxy-access.log;
    error_log   /var/log/nginx/proxy-error.log;
    root   /usr/share/nginx/html;

    ## send request to backend ##
    location / {
      proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
      proxy_redirect off;
      proxy_buffering off;
      proxy_set_header        Host            $host;
      proxy_set_header        X-Real-IP       $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;

      proxy_set_header X-Forwarded-Proto https;
      proxy_redirect http:// https://;

      add_header Pragma "no-cache";

      proxy_pass  http://<%= @proxy_name %>;
   }
}
## End PROCY ##
