APT::Periodic::Update-Package-Lists "<%= scope['unattended_upgrades::period']%>";
APT::Periodic::Unattended-Upgrade "<%= scope['unattended_upgrades::period']%>";
APT::Periodic::Download-Upgradeable-Packages "0";
APT::Periodic::AutocleanInterval "7";